body {
  margin: 0;
  padding: 0px;
  font-family: Arial, "Noto Sans";
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.h-wrapper {
  padding: 10px 30px 10px 30px;
  height: 90px;
}
.inner-h {
  display: flex;
  justify-content: space-between;
}
.custom-link1 {
  text-decoration: none;
  color: var(--text-color);
}
.h-one h3 {
  color: var(--orange-color);
  cursor: pointer;
}
.h-one h3:hover {
  color: var(--orange-hover);
}
.h-two {
  display: flex;
}
.custom-links {
  padding-left: 50px;
  text-decoration: none;
  color: var(--text-color);
}
.custom-links-new {
  padding-left: 50px;
  text-decoration: none;
  color: var(--text-color);
}

.theme-icon {
  cursor: pointer;
  margin-left: 50px;
  margin-top: 22px;
}
.icons {
  display: none;
}
.icon-menu {
  display: none;
}
.theme-icon-two {
  display: none;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  body {
    font-size: small;
  }
  .h-wrapper {
    padding: 5px 20px 10px 20px;
  }
  .icons {
    display: flex;
  }
  .icon-menu {
    display: block;
    margin-top: 24px;
    margin-left: 20px;
    z-index: 1000;
  }
  .h-one h3 {
    font-size: 1.2rem;
  }
  .theme-icon-two {
    cursor: pointer;
    display: block;
    margin-top: 25px;
  }
  .h-two {
    display: none;
  }
  .inner-h {
    display: flex;
    position: relative;
    transition: height 0.3s ease, margin-bottom 0.3s ease;
  }
  .h-two-main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 100%;
    height: 100vh;
    background-color: var(--text-color);
    color: var(--bg-color);
    z-index: 100;
    margin-right: -20px;
    margin-left: 20px;
    margin-top: -5px;
  }
  .back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
  .h-links-new {
    text-align: right;
  }
  .menu-open {
    height: auto;
  }
  .custom-links-new {
    font-size: 1.1rem;
    text-align: right;
    align-content: end;
    color: var(--bg-color);
    margin: 0;
    padding: 0;
  }
  .h-one h3 {
    font-size: 1.4rem;
  }
  /* .custom-links-new h4 {
    margin: 5px 0;
    padding: 0;
    line-height: 1.2;
  } */
}
