body {
  margin: 0;
  padding: 0px;
  font-family: Arial, "Noto Sans";
  font-size: 1rem;
  color: #fffedf;
  background-color: #000000ea;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 20px 130px 20px;
  height: 100%;
}
.two-side {
  width: 150px;
}
.three-side {
  display: flex;
  flex-direction: column;
}
.three-side a {
  text-decoration: underline;
  color: #fffedf;
}
.four-side {
  display: flex;
  flex-direction: column;
}
.four-side a {
  text-decoration: underline;
  color: #fffedf;
}
